.banner {
  background: url('../../assets//images/contact-us-bg.png') center center
    no-repeat;
  background-size: cover !important;
  height: 564px;
  padding: 160px 0 200px;
}

.chakra-checkbox {
  align-items: baseline !important;
}

.chakra-checkbox__control {
  position: relative;
  top: 2px;
}
